.list_container {
  text-align: center;
}

.responsive_table {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
}
.responsive_table h1 {
  color: #c00;
  font-family: sans-serif;
  font-size: 2em;
  margin-bottom: 0;
}

.responsive_table table {
  font-family: sans-serif;
}
.responsive_table td {
  background-color: #eee;
}
.responsive_table th {
  background-color: #009;
  color: #fff;
}

.delete_btn {
  border-radius: 50%;
  border: none;
  transition-duration: 0.5s;
  transform: rotateX(45deg);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.delete_btn:hover {
  cursor: pointer;
  color: black;
  background-color: red;
}
